.wrapper

  = render 'side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          chat_groupA
        %ul.left-header__members
          Member：
          %li.member
            aaaa
          %li.member
            bbbb
          %li.member
            ccc
      .right-header
        = link_to 'Edit', edit_group_path(1), class: "btn"
    .messages
      Hello

    .form
      = form_for @chat,:url => {:action => :index} do |f|
        = f.text_field :body, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'